.wrapper {
  font-family: Inter;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.wrapperInput {
  width: 500px;
  padding: 20px;
  border: 1px solid #E5E9EB;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.wrapperInput:not(:last-child) {
  margin-bottom: 18px;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;  
}

.input {
  max-width: 502px;
  width: 100%;
  padding: 12px;
  padding-right: 0;
  border-radius: 8px;
  border: 1px solid #E5E9EB;
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: -0.084px;
}

.wrapperRight {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.btn {
  width: 300px;
  height: 150px;
  padding: 20px;
  border-radius: 5px;
  color: #0056b3;
  border: 1px solid #E5E9EB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}