.table table {
  font-family: Inter;
  width: 100%;
  border-spacing: 0;
  background-color: #fff;
  border-radius: 12px;
  border-collapse: collapse;
}

.table tr:nth-child(even) {
  background-color: #edf1f1;
}

.table tr {
}

.table th,
.table td {
  text-align: left;
  padding: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  // border-radius: 12px;
  border: 1px solid #e5e9eb;
}

.table th {
  font-size: 15px;
  font-weight: 500;
}