.content {
    width: 100%;
    height: 100vh;
    background-color: #E5E9EB;
}

.wrapper {
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    overflow: hidden;
}