.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper:not(:last-child) {
    margin-bottom: 12px;
}

.label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    color: #1A2024;    
}

.table {
    padding: 0 10px;
    margin: 78px 0;
}

.input {
    max-width: 322px;
    width: 100%;
    padding: 8px;
    padding-right: 0;
    border-radius: 8px;
    border: 1px solid #E5E9EB;
    background-color: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.084px;
}

.fileInput {
    display: none;
}

.btn {
    width: 322px;
    padding: 8px;
    border-radius: 5px;
    color: #1A2024;
    border: 1px solid #E5E9EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
  .btn:hover {
    background-color: #E5E9EB;
  }