.link {
    cursor: pointer;
    background-color:  transparent;
    border: 1px solid #6E8BB74D;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    color: $link-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.006em;
}