.sidebar {
  position: fixed;
  font-family: Inter;
  width: 280px;
  height: 100vh;
  padding: 0 12px;
  border-right: 1px solid #e5e9eb;
  background-color: #fff;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0;
  justify-content: space-between;
}

.wrapper::after {
  position: absolute;
  left: -12px;
  bottom: 0;
  height: 1px;
  width: 280px;
  background-color: #e5e9eb;
  content: '';
}

.logo {
  color: #403ef5;
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
}

.closeBtn {
  color: #0067f4;
  padding: 6px;
  border: 1px solid #e5e9eb;
  border-radius: 4px;
}

.leftArrow span {
  position: absolute;
  left: 12px;
  top: 10px;
  width: 8px;
  height: 2px;
}

.leftArrow span:first-child {
  transform: rotate(45deg);
}

.leftArrow span:nth-child(2) {
  transform: rotate(-45deg);
}

.navList {
  @include reset-list;
}

// .navItem:first-child {
//   margin-top: 12px;
// }

.navItem:not(:last-child) {
  margin-bottom: 12px;
}

.navItem {
  color: black; /* Цвет ссылок по умолчанию */
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

.active {
  color: red; /* Цвет активной ссылки */
}

.navLink {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: $dark-grey;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.006em;
  transition: transform 2s;
  gap: 5px;
}

// // .navLink:active {
// //   background-color: #0067f4;
// //   color: #fff;
// //   // transition:
// //   //   background-color 1s,
// //   //   color 1s;
// //   // transform: scale(1.1);
// // }

// .navLink:hover {
//   background-color: #0067f4;
//   color: #fff;
//   // transition:
//   //   background-color 1s,
//   //   color 1s;
//   // transform: scale(1.1);
// }
