// .wrapper {
//   font-family: "Inter";
//   max-width: 600px;
//   padding: 20px;
//   border: 1px solid #E5E9EB;
//   border-radius: 8px;
// }

// .wrapperTop {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-bottom: 18px;
// }

// .wrapperTop::after {
//   position: absolute;
//   bottom: -12px;
//   left: -21px;
//   width: 600px;
//   height: 1px;
//   background-color: #EBEDEE;
//   content: '';
// }

// .title {
//   font-size: 20px;
//   font-weight: 700;
//   line-height: 24px;
//   letter-spacing: 0px;
//   text-align: left;
// }

// .wrapperBottom {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

// .wrapperTitle {
//   display: flex;
//   align-items: center;
// }

// .subtitle {
//   margin-left: 8px;
//   color: #737576;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 24px;
//   letter-spacing: 0px;
// }

// .item {
//   padding: 10px;
//   margin: 5px;
//   border: 1px solid #ccc;
//   background-color: #f9f9f9;
//   cursor: pointer;
// }

// .item:active {
//   cursor: grabbing;
// }
// .wrapperInput {
//   display: flex;
//   flex-direction: column;
// }

// .wrapperInput:not(:last-child) {
//   margin-bottom: 18px;
// }

// .input {
//     width: 422px;
//     padding: 6px;
//     padding-right: 0;
//     border-radius: 8px;
//     border: 1px solid #b0b3b4;
//     background-color: transparent;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 24px; 
//     letter-spacing: -0.084px;
// }

// .fileInput {
//   display: none;
// }

// .btn {
//   padding: 8px 16px;
//   background-color: #007bff;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .btn:hover {
//   background-color: #0056b3;
// }

// .desc {
//   width: 400px;
//   padding: 6px;
//   border-radius: 8px;
//   border: 1px solid #b0b3b4;
//   background-color: transparent;
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 24px; 
//   letter-spacing: -0.084px;
// }





// :root {
//   --border-radius-500: 8px;
//   --color-on-background: #ffffff;
//   --fonts-primary: Karla, sans-serif;
// }

// .layoutWrapper {
//   background-image: linear-gradient(0deg, hsl(215, 14%, 16%) 0%, hsl(215, 19%, 29%) 100%);
//   border-radius: 8px;
//   box-shadow: 0 12px 16px rgba(0, 0, 0, .25);
//   margin: 20px 0;
//   max-width: 370px;
// }

// .card {
//   background-color: white;
//   padding: 20px;
//   border-radius: 5px;
// }

// .header {
//   border-bottom: 1px solid gray;
//   padding-bottom: 10px;
//   margin-bottom: 5px;
// }

// .storeContainer {
//   text-align: center;
//   padding: 5px;
//   background-color: rgb(0, 247, 255);
// }

// .itemsContainer {
//   text-align: center;
// }

// .itemContainer {
//   padding: 5px;
//   border-bottom: 1px solid grey
// }

.content {
  font-family: Inter;
  width: 1180px;
}

.wrapperTop {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEDEE;
}

.wrapperLessons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  border: 1px solid #EBEDEE;
  padding: 10px;
  border-radius: 8px;
}

.wrapperTitle {
  display: flex;
  align-items: center;
}

.subtitle {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;  
}

.wrapperBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 35px;
  // height: 35px;
  // border: 1px solid #EBEDEE;
  // border-radius: 8px;
  // padding: 4px;
}

.title {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;  
}

.wrapperInput {
  display: flex;
  flex-direction: column;
}

.wrapperInput:not(:last-child) {
  margin-bottom: 18px;
}

.input {
    width: 422px;
    padding: 6px;
    padding-right: 0;
    border-radius: 8px;
    border: 1px solid #b0b3b4;
    background-color: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.084px;
}

.desc {
  width: 400px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #b0b3b4;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: -0.084px;
}

.fileInput {
  display: none;
}

.btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
