.title {
    color: $dark-blue;
    margin-bottom: 40px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.792px;
}

.restorePassword {
    text-decoration: underline;
    color: $link-blue;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.006em;    
}

.wrapper {
    margin: 8px 0 48px 0;
    display: flex;
    justify-content: space-between;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
}
